@import url("https://fonts.googlepis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }


    body{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(153, 153, 194);
      min-height: 100vh;
    }

    .wrapper{
      width: 490px;
      background-color: #fff;
      border-radius:10px ;
      padding: 18px 25px 20px;
    }

    .wrapper :where(.title, li, li i, .details) {
      display: flex;
      align-items: center;
    }

    .wrapper .title img{
      max-width: 21px;
    }
    .wrapper .title h2{
      font-size: 21px;
      font-weight: 600;
      margin-left: 8px;
    }

    .wrapper .content{
      margin: 10px 0;
    }

    .content p{
      font-size: 15px;
    }

    .content ul{
      display: flex;
      flex-wrap: wrap;
      padding: 7px;
      border: 1px solid #a6a6a6;
      border-radius: 5px;
      margin: 12px 0;
    }

    .content ul:focus-within{
      border: 1px solid #0052cc;

    }


   

    .content ul li{
      list-style: none;
      margin: 4px 3px;
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 5px 8px 5px 10px;
      border: 1px solid #e3d1e1;
    }

    .content ul li i{
      height: 20px;
      width: 20px;
      margin-left: 8px;
      border-radius: 50%;
      justify-content: center;
      cursor: pointer;
      color: #808080;
      font-size: 12px;
      background-color: #dfdfdf;
    }

    .content ul li i:hover{
      background-color: rgb(153, 153, 194);
      color: #fff;
    }

    .content ul input{
      flex: 1;
      border: none;
      outline: none;
      padding: 5px;
      font-size: 16px;
    }
    

    .wrapper .details{
      justify-content: space-between;
    }
    .details button{
      border: none;
      outline: none;
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      padding: 9px 15px;
      border-radius: 5px;
      background-color: rgb(123, 123, 197);
    }